<header>
    <div class="header-container">
        <h1>Preentrega 01 de Back 02</h1>
        <nav>
            <a href="http://localhost:8080/users">Home</a>
            <a href="http://localhost:8080/users/login">Iniciar Sesion</a>
            <a href="http://localhost:8080/users/login"> Registrarse</a>
        </nav>
    </div>
</header>
